/*
font-family: 'Italianno', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
https://colorhunt.co/palette/145544
#8adfdc, #313848, #735372, #8f758e
*/
/*
Font Properties Challenge 1:
  a) Set the text color for the h1 and h2 to both be
     the color with hex code: #66bfbf
  b) Set the text color for the h3 and anchor tag to
     be the color with hex code: #11999e

Font Properties Challenge 2:
  Change the "a programmer" subtitle to font weight: normal
  Answer done in form of <span> in HTML file
    ->  <span style="font-weight: normal">a programmer</span>

Font Properties Challenge 3:
  Change the line height to double what it currently is
*/
body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  /*Challenge 3*/
  line-height: 2;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Italianno', cursive;
  font-size: 5.625rem;
  /*Challenge 1a*/
  color: #66bfbf;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  /*Challenge 1a*/
  color: #66bfbf;
  /*Challenge 2*/
  font-weight: normal;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  /*Challenge 1b*/
  color: #11999e;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  color: #eaf6f6;
  width: 5%;
}

/*Challenge 1b*/
a {
  color: #11999e;
}

a:hover {
  color: #eaf6f6;
}

.footer-link {
  margin: 30px;
}

.top-container {
  background-color: #eaf6f6;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px auto;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px;
}

.bottom-container p {
  margin-top: 50px;
  display: inline-block;
}

.profile {
  margin: 0 auto;
  width: 50%;
}

.skill-row {
  line-height: 2;
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.contact-me {
  margin: 0 auto;
  width: 50%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.coding-img {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.cooking-img {
  float: right;
  margin-left: 30px;
  width: 25%;
}

.not-top-img {
  border-radius: 100%;
}

.BUTTON_BUJ {
  background: #3D94F6;
  background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: 'Open Sans';
  font-size: 1rem;
  font-weight: 400;
  margin-top: 50px;
  padding: 10px 20px;
  box-shadow: 1px 1px 20px 0 #000000;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_BUJ:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.copyright-info {
  color: #eaf6f6;
  font-size: 0.75rem;
}
